/* Reglas por defecto */

* {
    box-sizing: border-box;
    /* https://fonts.google.com */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Reglas asociadas a las columnas */

.column-1 {
    width: 100%;
    float: left;
    color: #ffffff;
}

.column-1 h3 {
    color: black;
    text-align: center;
}

#section-2 {
    background-color: #509ea0;
    text-align: center;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.column-2 {
    width: 50%;
    float: left;
    /* padding: 40px; */
}

#section-3 {
    /* padding: 0 7%; */
}

.column-4 {
    width: 25%;
    float: left;
    /* padding: 40px; */
}

.column-4 p {
    color: white;
}

#section-4 {
    background-color: gray;
}


/* Estilos de la página */

#header {
    text-align: center;
    background-image: url('../img/header.jpg');
    background-size: cover;
    padding: 30vh 100px;
    height: 100vh;
}

#header h1 {
    font-size: 70px;
}

#header h2 {
    font-size: 40px;
}

#map {
    width: 100%;
    height: 350px;
    border: 0;
    /* height="450" style="border:0;" */
}

#section-5 {
    /*background-color da color de fondo a la caja (div)*/
    background-color: black;
    text-align: center;
}


/*La clase gallery definirá los estilos de las 
imágenes de la sección 1 (section-1)*/

.gallery {
    /*como hay 3 imágenes por fila he de dividir 
    la horizontal en 3 partes => width: 33.33%;*/
    width: 33.33%;
    float: left;
}

.gallery img {
    width: 100%;
}


/*Reglas auxiliares*/

.relleno-lateral {
    padding-left: 9%;
    padding-right: 9%;
}

.relleno-columnas {
    padding-right: 20px;
}

#section-1 img {
    padding: 50px;
}

@media screen and (max-width: 600px) {
    /* Aquí dentro van las reglas */
    #header h1 {
        font-size: 50px;
    }
    #header h2 {
        font-size: 30px;
    }
    #header {
        padding: 30vh 10px;
    }
    .column-2 {
        width: 100%;
    }
    .relleno-lateral {
        padding-left: 2%;
        padding-right: 2%;
    }
    .column-4 {
        width: 50%;
    }
    .relleno-columnas {
        padding-right: 0px;
    }
    .gallery {
        width: 50%;
    }
}